
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Jost:ital,wght@0,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 10px auto;
    width: fit-content;
    font-family: 'Jost', sans-serif;
}

.center {
    margin: 0px auto;
    width: 60%;
    border: 0px;
    padding: 10px;
}


li {
    margin-left: 10px;
    display: inline-block;
}

a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

#image {
    margin: 0px;
}

area {
    outline: none;
}

iframe.center {
    margin: 30px auto;
    padding: 0px;
    width: fit-content;
}