
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Jost:ital,wght@0,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #000000CD;
}

header {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #00000000;

}

h1 {
    font-family: 'Jost', sans-serif;
    color: white;
}


#div-image {
    position: relative;
}

#image {
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
}

area {
    outline: none;
}

#iframe-questions {
    width: 30%;
    height: 100%;
}

iframe {
    border: none;
    width: 30vw;
    height: 100%;
}


/*    Form     */


form {
    width: 100%;
    position: relative;
    height: 100%;
    background: #00000000;
}

/*form .fixed {
    width: 20%;
    top: 80%;
    left: 40%;
    position: fixed;
    color: black;
}
*/

.form {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
    background: #00000000;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    font-size: 1.3em;
    border: none;
    color: white;
    outline: none;
    background: #00000000;
}

.form label {
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-response {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-response .content-response,
.form input:valid + .label-response .content-response {
    transform: translateY(-150%);
    font-size: 0.6em;
    color: #5fa8d3;
}

.form input:focus + .label-response::after, 
.form input:valid + .label-response::after {
    transform: translateX(0%);
}

